//Doing extends for the style to get DRY code

//Input type=text
.inputText{
    padding: 10px 0 5px 5px;
    margin-bottom: 15px;
    @include box-shadow($boxShadow);
    &:focus{
        border-bottom: 2px solid $lightBlue;
    }
}
// FlexBox Position
.flexboxContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

//User Posts
.posts{
    overflow: hidden;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    .postHeader{
        margin-bottom: 10px;
        overflow: hidden;
        font-weight: 300;
        .profilImg{
            float: left;
            display: inline-block;
            padding: 5%;
            background: url("/public/img/testThumnail.png") no-repeat center;
            background-size: contain;
            border-radius: 2.5px;
            margin-right: 2%;
        }
        .postTextContainer{
            width: 88%;
            float: left;
            h4{
                float: left;
                display: inline-block;
            }
            .circleSeperator{
                float: left;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $circleSeperatorColor;
                margin: 5px 5px 0 5px;
            }
            .timeAgo{
                display: inline-block;
                float: left;
                color: $accentFontColor;
            }
            p{
                display: inline-block;
            }
        }
    }
    .postMain{
        overflow: hidden;
        .vidOrImg{
            margin: 0 auto;
            margin-bottom: 10px;
            img{
                width: 100%;
                border-radius: 5px;
                width: 100%;
                @include box-shadow($smoothBoxShadow);
            }
        }
        .likeCountContainer{
            cursor: pointer;
            float: left;
            display: inline-block;
            .heart{
                float: left;
                width: 20px;
                height: 20px;
                display: inline-block;
                background: url("/public/img/buttons/likeButton.svg") no-repeat center;
            }
            .likeCount{
                line-height: 20px;
                float: left;
                margin-left: 5px;
                font-weight: 300;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        .postTags{
            line-height: 20px;
            float: right;
            a{
                margin-left: 2px;
                span{
                    font-weight: 800;
                }
            }
        }
    }

}


@media screen and (max-width: 500px){
    #timelineWrapper section{
        border-radius: 0;
        .postMain .vidOrImg{
            // width: 300px;
            // height: 150px;
            // margin: 0 auto;
        }
    }
}
