// Mixins for bether Browserperformances and functioning Style

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
//boxshadow
@mixin box-shadow ($value) {
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

// mixin to animate placeholder TODO
// @mixin animate-placeholder {
//     &:hover.placeholder, &:focus.placeholder { @content; }
//     &:hover:-moz-placeholder, &:focus:-moz-placeholder { @content; }
//     &:hover::-moz-placeholder, &:focus::-moz-placeholder { @content; }
//     &:hover:-ms-input-placeholder, &:focus:-ms-input-placeholder { @content; }
//     &:hover::-webkit-input-placeholder, &:focus::-webkit-input-placeholder { @content; }
// }
@mixin appearance($val) {
    -webkit-appearance: $val;
    -moz-appearance: $val;
    appearance: $val;
}

// sizing for backgroundimages
@mixin bgIcons($w, $h, $display){
    width: $w;
    height: $h;
    display: $display;
}
// use for backgroundImageIcons
@mixin backgroundImage($path:""){
    @if $path != "" {
        background: url("../img/#{$path}");
    }
    background-repeat: no-repeat;
    background-position: center;
}

// prefixes for other browsers
@mixin transitionPrefix($value, $time) {
    -webkit-transition: $value $time ease-in-out 0s;
	-moz-transition: $value $time ease-in-out 0s;
	-o-transition: $value $time ease-in-out 0s;
    transition: $value $time ease-in-out 0s;
}
//border radius
@mixin border-radius($value) {
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    border-radius: $value;
}

//rotate elements
@mixin transform($value){
    -moz-transform: rotate($value);
    -ms-transform: rotate($value);
    -o-transform: rotate($value);
    -webkit-transform: rotate($value);
    transform: rotate($value);
}

@mixin transitionMixin($value) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
