// COLORS
$lightGreen: #DAF0EE;
$darkBrown : #3B413C;
$lightBlue:  #2196f3;

// FONTS
$mainFontFamily: 'Prohibition',  'Oswald', sans-serif;
$flowingText: 'Paralucent', sans-serif;

// FONTCOLOR
$mainFontColor: #333; // DARK GREY

// Other Stuff
$boxShadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);;
