// COLORS
$lightGreen: #DAF0EE;
$darkBrown : #3B413C;
$lightBlue:  #2196f3;
$lightRed: #ef868b;

// FONTS
$mainFontFamily: 'Prohibition',  'Oswald', sans-serif;
$flowingText: 'Paralucent', sans-serif;

// FONTCOLOR
$mainFontColor: #333; // DARK GREY
$accentFontColor: rgba(0,0,0,0.2);

// Other Stuff
$boxShadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
$smoothBoxShadow : -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
$circleSeperatorColor: #9db5b2;
