//Default Style AND Bootstrap Rewrites
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: $mainFontColor;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    box-sizing: border-box;
    vertical-align:middle;
}

html{
  font-size: 10px;
  background-color: white;
  body{
      height: 100%;
      margin: 0 !important;
      background-color: $bodyBackgroundColor;
  }
}
img{
  pointer-events: none;
}
// Rewrite for input type = radiobuttons
.radioprefix{
    float: right;
    input,label{
        margin: 0;
        margin-right: 4px;
    }
    input{
        @include appearance(none);
        @include border-radius(0);
    }
    input[type="radio"]{
        width: 18px;
        height: 18px;
        border: 1px solid rgba(0,0,0,0.5);
        @include border-radius(0);
        &:checked{
            outline: none;
            background-color: $lightBlue;
            border: $lightBlue;
        }
    }
}

input, label{
    font-family: $flowingText;
    &:active, &:focus{
        outline: none;
    }
}

@media screen and (min-width: 768px){

.navbar-right {
    float: right !important;
    margin-right: 0;
}
}
@media screen and (max-width: 768px){
    .navbar-right{
            float: right;
    }

}
