//Default Style AND Bootstrap Rewrites
*,*::after,*::before {
    box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box !important;
}


article,aside,details,figcaption,figure,
footer,header,hgroup,menu,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none;
    color: $mainFontColor;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    box-sizing: border-box;
    vertical-align:middle;
}

html{
  font-size: 10px;
  background-color: white;
  height: 100%;
  body{
      overflow: hidden;
      margin: 0;
      background-color: $bodyBackgroundColor;
  }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #fff;
}

img{
  pointer-events: none;
}
// input style
input,select{
    @include appearance(none);
    &[type="text"], &[type="password"], &[type="email"]{
        width: 100%;
        border: 1px solid rgba(0,0,0,0.1);
        color: black;
        @include input-placeholder {
                color: rgba(0, 0, 0, 0.5);
        }
    }
}

select{
    box-sizing: border-box;
    width: 150px;
    padding: 5px 20px 5px 10px;
    border-radius: 0;
    border:0;
    background-color: white;
    color: black;
    font-weight: 300;
    font-family: $flowingText;
    @include box-shadow($smoothBoxShadow);
    &:focus, &:active{
        outline: none;
    }
    option{
        border-radius: 0;
        background-color: white;

    }
}

//writing the style for backGroundArrows
.hideTerms{
    margin: 0 auto;
    @include backgroundImage("buttons/arrow-back-blue.svg");
    @include bgIcons(75px, 75px, block);
}

// rewrite input[type="submit"]
input[type="submit"]{
    padding: 10px 0;
    min-width: 150px;
    font-family: $mainFontFamily;
    background-color: $lightBlue;
    color: white;
    font-size: 1.5rem;
    border: 0;
    margin-bottom: 10px;
    @include box-shadow($boxShadow);
    &:hover, &:focus{
        outline: 0;
        outline-offset: 0;
    }
    &:active, &:visited{
        @include box-shadow(none);
        outline: 0;
        outline-offset: 0;
    }
}



// Rewrite for input type = radiobuttons
.radioprefix{
    float: right;
    input,label{
        margin: 0;
        margin-right: 4px;
    }
    input{
        @include appearance(none);
        @include border-radius(0);
    }
    input[type="radio"]{
        width: 18px;
        height: 18px;
        border: 1px solid rgba(0,0,0,0.5);
        @include border-radius(0);
        &:checked{
            outline: none;
            background-color: $lightBlue;
            border: $lightBlue;
            @include transitionPrefix(all, 400ms);
        }
    }
}

input, label{
    font-family: $flowingText;
    &:active, &:focus{
        outline: none;
    }
}

@media screen and (min-width: 768px){

.navbar-right {
    float: right !important;
    margin-right: 0;
}
}
@media screen and (max-width: 768px){
    .navbar-right{
            float: right;
    }

}
