// Style for the Footer

footer{
    font-family: $mainFontFamily;
    overflow: hidden;
    padding: 10px 20px;
    font-size: 1.25rem;
    text-transform: uppercase;
    div, p, a{
        display: inline-block;
        float: left;
        color: rgba(59, 65, 60, 0.5);
    }
    #footer-left{
        p{
            cursor: pointer;
            margin-right: 20px;
            &:last-child{
                margin-right: auto;
            }
            &:hover{
                color: rgba(59, 65, 60, 1);
            }
        }

    }
    #footer-right{
        float: right;
    }
}
