//Style for Header


// HEADER STYLE FOR INDEX

.fullscreenHeader{
  position: relative;
  font-family: $mainFontFamily;
  @include backgroundImage("startseitenbild.png");
  background-size: cover;
  overflow:hidden;
  height: 100vh;
  ul{
    width: 100%;
    text-align: center;
    display: inline-block;
    float: right;
    li{
      box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.8);
      margin: 20px 0px 0 20px;
      padding: 10px 30px;
      background-color: #fff;
      display: inline-block;
      &:active{
          box-shadow: -4px 4px 2px 0px rgba(0, 0, 0, 0.8);
      }
      a{
          letter-spacing: 0.1rem;
          text-transform: uppercase;
          font-weight: 600;
          //text-shadow: -2px 1px 5px rgba(0, 0, 0, 0.5);
          font-size: 2rem;
          color: black;
          display: inline-block;
          &:hover{
              color: inherit;
          }
      }
    }
  }

  .error-page{
      @extend .flexboxContainer;
      height: 100vh;
      .back-to-home-arrow{
          a{
              display: inline-block;
              width: 160px;
              height: 120px;
              @include backgroundImage("buttons/arrow-back-blue.svg");
              background-size: cover;
          }

      }
      .error-msg{
          margin-bottom: 20px;
          border: 2.5px dotted black;
          padding: 20px 40px;
          h2{
              font-size: 4rem;
          }
          small{
              font-size: 1.5rem;
          }
      }
  }
  .navbar-brand{
    display: inline-block;
    font-size: 30px;
    padding: 20px 0 0 30px;
    a{
      display: block;
    }
    img{
      width: 100%;
      height: 25px;
    }
  }
  nav{
    display: none;
    z-index: 20;
  }
  .headerBackground{
    @extend .flexboxContainer;
    position: absolute;
    z-index: 0;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    ul{
        margin-bottom: 50px;
    }
    img{
      width: 350px;
      height: 350px;
    }
  }
}

// STYLE FOR THE LOGGED IN HEADER

#loggedinNav{
    z-index: 9999;
    position: fixed;
    background-color: white;
    margin: 0 auto;
    width: 100%;
    @include box-shadow($boxShadow);
    div{
        z-index: 9999;
        max-width: 960px;
        max-height: 50px;
        padding: 5px 0;
        width: 100%;
        margin: 0 auto;
        ul{
            overflow: hidden;
            margin: 0 auto;
            //padding: 0 20px;
            @media screen and (max-width: 500px){
                ul li{
                    margin-top: 5px;
                    width: 30px;
                    height: 30px;
                }
            }
            li{
                display: inline-block;
                width: 40px;
                height: 40px;
                float: left;
                margin-right: 20px;
                &#menu{
                    @include backgroundImage("graphics/menu.svg");
                }
                &#logo{
                    width: 200px;
                    @include backgroundImage("graphics/logologgedin.svg");
                }
                &#filter{
                    @include backgroundImage("graphics/filter.svg");
                }
                &#search{
                    @include backgroundImage("graphics/search.svg");
                }
                &:last-child{
                    margin-right: 0;
                }
                /* Icon 1 */
                &#nav-icon {
                  width: 25px;
                  height: 25px;
                  position: relative;
                  margin-top: 10px;
                  @include transform(0deg);
                  @include transitionMixin(.5s ease-in-out);

                  cursor: pointer;
                  span{
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    background: rgba(0,0,0,1);
                    border-radius: 5px;
                    opacity: 1;
                    left: 0;
                    @include transform(0deg);
                    @include transitionMixin(.25s ease-in-out);
                    &:nth-child(1) {
                      top: 0px;
                    }
                    &:nth-child(2), &:nth-child(3) {
                      top: 10px;
                    }
                    &:nth-child(4) {
                      top: 20px;
                    }

                  }
                  &.open {
                    span{
                        &:nth-child(1) {
                            top: 18px;
                            width: 0%;
                            left: 50%;
                        }
                        &:nth-child(2) {
                          @include transform(45deg);
                        }
                        &:nth-child(3) {
                          @include transform(-45deg);
                        }
                        &:nth-child(4) {
                          top: 18px;
                          width: 0%;
                          left: 50%;
                        }
                    }
                  }
                }

            }
        }
    }


}



@media screen and (max-device-width: 600px) and (orientation: landscape)   {
    header .headerBackground img{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 400px){
    #loggedinNav div ul {
        padding: 0 10px;
        li#logo{
            width: 100px;
            background: url("/public/img/littleLogoPlus.svg") no-repeat center;
        }
    }
}
