// Classes for javascriptanimations
.showHide{
    @include transitionPrefix(top, 300ms);
}


.navigateFixed{
    width: 100%;
    position: fixed;
    display: none;
    background-color: white;
    border-bottom: 1px solid black;
    .container-fluid{
        padding: 0;
    }
    .navbar-brand{
        padding: 0 5px;
        display: inline-block;;
        a img{
            width: 150px;
            height: 50px;
        }
    }
    ul {
        width: auto;
        text-align: inherit;
        li{
            margin: 10px 5px;
            padding: 5px 10px;
            &:last-child{
                margin-left: 0;
            }
            a{
                letter-spacing: 2px;
            }
        }
    }

}


// menu
.menuContainer{
    font-size: 1.2rem;
    font-family: $flowingText;
    display: block;
    position: fixed;
    right: -302px;
    margin-top: 50px;
    width: 250px;
    text-align: center;
    padding: 25px 0;
    border: 1px solid black;
    border-right: 0;
    background-color: white;
    z-index: 80;
    @include box-shadow(-1px 1px 4px 2px rgba(0,0,0,0.5));
    @include transitionPrefix(right, 300ms);
    //border: 1px solid black;
    &.toggleSide{
        right: 0px;
    }
    .menuHeader{
        padding: 20px 0;
        img{
            width: 100px;
            height: 100px;
            margin-bottom: 15px;
            border-radius: 100%;
            @include box-shadow(-1px 1px 10px 1px rgba(0, 0, 0, 0.5));
        }
    }
    .menuMain{
        overflow: hidden;
        padding: 10px 0;
        border-top: 1px solid $accentFontColor;
        border-bottom: 1px solid $accentFontColor;
        div{
            display: inline-block;
            text-align: left;
            p{
                line-height: 20px;
                a{
                    overflow: hidden;
                    &:active,&:focus{
                        background-color: transparent;
                        outline: none;

                    }
                    span{
                        @include bgIcons(20px, 20px, inline-block);
                        margin: 5px 10px 0 0;
                        &.userprofileIcon{
                            //background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center;
                            @include backgroundImage("graphics/userprofileIcon.svg");
                        }
                        &.editProfileIcon{
                            @include backgroundImage("graphics/editProfileIcon.svg");
                        }
                        &.timelineIcon{
                            @include backgroundImage("graphics/timelineIcon.svg");
                        }

                    }
                }

            }
        }
    }
    .menuFooter{
        padding: 25px 0;
        a{
            color: white;
            display: inline-block;
            padding: 10px 20px;
            background-color: $lightRed;
        }
    }
}
//searchbar
.searchBarContainer{
    z-index: 80;
    position: fixed;
    top: -35px;
    background-color: white;
    display: block;
    width: 100%;
    &.toggleUp{
        top: 50px;
    }
    input{
        font-size: 1.5rem;
        width: 100%;
        border: 0;
        padding: 10px 0;
        text-align: center;
        background-color: $lightGreen;
        @include appearance(none);
        &:focus{
            outline: 0;
            border: 0;
        }
    }
    .userFilterContainer{
        max-width: 600px;
        margin: 0 auto;
        z-index: 80;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        div{
            box-sizing: border-box;
            margin: 0 10%;
            @include bgIcons(20px, 20px, inline-block);
            width: calc(33% - 20%);
            &.generalSearchIcon{
                @include backgroundImage("buttons/generelFilterIcon.svg");
            }
            &.userSearchIcon{
                @include backgroundImage("graphics/userprofileIcon.svg");
            }
            &.hashSearchIcon{
                @include backgroundImage("buttons/hashFilterIcon.svg");
            }
            &.adminSearchIcon{
                display: none;
                @include backgroundImage("buttons/adminFilterIcon.svg");
            }
            &:last-child{
                margin-right: 0;
            }
        }

    }
    .searchResults{
         background-color: white;
         p{
             padding: 10px 20px;
             border-bottom: 1px solid rgba(0,0,0,0.1);
             span{
                 margin-right: 5px;
                 @include bgIcons(10px, 10px, inline-block);
                 &.searchHash{
                     @include backgroundImage("buttons/hashFilterIcon.svg");
                 }
                 &.searchUser{
                     @include backgroundImage("graphics/userprofileIcon.svg");
                 }
             }
         }
    }
}
.generalFilterContainer{
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 8;
    padding: 13px 0;
    font-size: 1.4rem;
    text-align: center;
    background-color: white;
    font-family: $flowingText;
    @include box-shadow($smoothBoxShadow);
    &.toggleUp{
        top: 50px;
    }
    .generalFilter{
        display: inline-block;
        overflow: hidden;
    }
    p{
        display: inline-block;
        float: left;
        margin-right: 20px;
    }
    form{
        display: inline-block;
        float: left;
        @extend .radioprefix;
        label{
            font-weight: 400;
            margin-right: 10px;
            &:last-child{
                margin: 0;
            }
            input{
                margin: 0;
            }
        }
    }
}
//TODO CREATE AND STYLIES ADDBTN, -CONTAINER AND LOADINGBAR
.addPostContainer{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    @extend .flexboxContainer;
    form{
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        max-width: 600px;
        background-color: white;
        position: fixed;
        @include box-shadow(-1px 1px 1px rgba(255,255,255,0.8));
        input{
            display: block;
            &.postTitle{
                float: left;
                width: calc(95% - 5%);
                padding: 5px;
                margin-bottom: 15px;
                margin-right: 5%;
                border: 0;
                @include input-placeholder {
                    color: black;
                    font-weight: 300;
                }
                @include box-shadow($smoothBoxShadow);
            }
        }
        .postExitBtn{
            margin-top: 3px;
            @include bgIcons(5%, 25px , block);
            @include backgroundImage("buttons/closeButton.svg");
        }
        span{
            float: left;
            display: inline-block;
            width: 10%;
        }
        .postChooseContainer{
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            margin-bottom: 15px;
            div{
                position: relative;
                float: left;
                width: calc(50% - 2.5%);
                padding: 50px 0;
                margin-right: 2.5%;
                font-family: $flowingText;
                @include box-shadow($smoothBoxShadow);
                &.videoContainer{
                    margin-right: 0;
                    margin-left: 2.5%;
                    .chooseVideoUrlActive{
                        float: none;
                        display: none;
                        text-align: center;
                        box-shadow: none;
                        padding: 0;
                        p{
                            float: none;
                        }
                        input{
                            margin: 0 auto;
                            border: 1px solid rgba(0,0,0,0.1)
                        }
                    }
                }
                label{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    input[type=file]{
                        display: none;
                    }
                }
                span{
                    display: block;
                    text-align: center;
                    float: none;
                    margin: 0 auto;
                    font-family: $flowingText;
                    &.chooseImg{
                        @include bgIcons(100px, 100px , block);
                        @include backgroundImage("buttons/choosePhoto.svg");
                    }
                    &.chooseVideoUrl{
                        @include bgIcons(80px, 100px , block);
                        @include backgroundImage("buttons/chooseVideo.svg");
                    }
                    &.fileInput{
                        width: 100%;
                    }
                }
            }
            .swapItem{
                float: left;
                @include bgIcons(5%, 25px , none);
                @include backgroundImage("buttons/arrow-back-blue.svg");
            }
        }
        .postChooseMainTags{
            width: 100%;
            overflow: hidden;
            margin-bottom: 15px;
            line-height: 18px;
            text-align: center;
            color: black;
            font-size: 1.25rem;
            p, input, label{
                font-family: $flowingText;
                float: left;
            }
            div{
                overflow: hidden;
                float: right;
                input,label,span{
                    margin-right: 4px;
                }
                input[type="radio"]{
                    @include appearance(none);
                    width: 18px;
                    height: 18px;
                    border: 1px solid rgba(0,0,0,0.5);
                    margin: 0;
                    margin-right: 5px;
                    @include border-radius(0);
                    &:checked{
                        outline: none;
                        background-color: $lightBlue;
                        border: $lightBlue;
                    }
                }
            }
        }
        input[name=addAdditionalTags]{
            display: block;
            width: 100%;
            border: 0;
            padding: 5px;
            margin-bottom: 15px;
            @include box-shadow($smoothBoxShadow);
            @include input-placeholder {
                color: black;
                font-weight: 300;
            }
        }
        input[type=submit]{
            padding: 5px 40px;
            background-color: $lightBlue;
            color: white;
            border: 0;
            margin: 0 auto;
        }
    }
}
.addPostBtn{
    position: fixed;
    left: calc(50% - 25px);
    bottom: 5px;
    cursor: pointer;
    border-radius: 100%;
    @include box-shadow($smoothBoxShadow);
    @include bgIcons(50px, 50px, block);
    @include backgroundImage("buttons/addButton.svg");
    @media screen and (max-width:500px){
        width: 40px;
        height: 40px;
    }
}
.loadingBard{

}


// SaftyQuery-Layout for delete,or change stuff
.securityCheckContainer{
    @extend .popUpContainer;
    &.visible{
        display: block;
    }
    .securityCheck{
        @extend .popUpItem;

        h4{
            padding: 20px 10px;
            font-size: 1.4rem;
        }
        div{
            display: inline-block;
            width: 50%;
            float: left;
            text-align: center;
            a{
                display: block;
                color: white;
                padding: 10px 0;
            }
            a:hover{
                text-decoration: none;
            }
            &.resetEntrys{
                background-color: $lightRed;

            }
            &.stayWithEntrys{
                background-color: $lightBlue;
            }
        }
    }
}

.successmessageContainer{
    @extend .popUpContainer;
    @include transitionPrefix(all, 400);
    opacity: 0;
    &.visibleSuccess{
        display: block;
        opacity: 1;
    }
    h4{
        padding: 20px;
        font-size: 2rem;
        @extend .popUpItem;
    }
}



@media screen and (max-width: 600px) {
    .addPostContainer form{
        width: 400px;
        left: calc(50% - 200px);
        .postChooseContainer div{
            padding: 25px 0;
        }
    }
}
@media screen and (max-width: 400px) {
    .addPostContainer form{
        box-sizing: border-box;
        width: 100%;
        left: 0;
        .postChooseContainer div{
            padding: 15px 0;
        }
        .postChooseMainTags{

            p{
                width: 100%;
                text-align: center;
                margin-bottom: 5px;
            }
            div{
                overflow: hidden;
                float:none;
                margin: 0 auto;
                display: inline-block;
            }
        }
    }
}
