// Stylesheet for the Header of the Landingpage

//Generel Style for Landingpage
.inner-wrap{
    float: left;
    width: 100%;
    margin: 0 auto;
}

section{
    background-color: white;
    overflow: hidden;
    font-family: $flowingText;
}

// Landingpage Video Section

#landing-presentation-vid{
    padding: 50px 0;
    @extend .flexboxContainer;
}


// Landingpage Video Explain Section
#landing-explain{
    height: auto;
    background-color: $lightGreen;
    overflow:hidden;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: justify;
    font-size: 1.5rem;
    .explain-container{
        @extend .inner-wrap;
        margin-bottom: 20px;
        figure{
            text-align: center;
            margin-bottom: 20px;
            .seperator{
                height: 50px;
            }
            img{
                height: 200px;
            }
        }
        p{
            width: 50%;
            margin: 0 auto;
        }
    }

}

// Landingpage Statistic Section
#landing-stats{
    height: auto;
    padding: 100px 20px;
    font-size: 1.5rem;
    .inner-wrap{
        text-align: center;
        &:first-child{
            margin-bottom: 50px;
        }
        h2{
            display: inline-block;
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 20px;
            padding: 10px 30px;
            background-color: $lightGreen;
            text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5);
        }
        small{
            display: block;
            margin-bottom: 20px;
            span{
                margin: 0 5px;
            }
        }
        figure {
            img{
                height: 80px;
            }
        }

    }
}

// Media Queries for Landingpages
@media screen and (max-width: 768px){
    #landing-presentation-vid{
        padding: 0 0;
    }
    #landing-explain{
        padding: 20px 20px;
        .explain-container{
            figure{
                img{
                    height: 100px;
                }
            }
            p{
                width: 80%;
            }
        }
    }
}

@media screen and (max-width: 468px){
    .fullscreenHeader .headerBackground img {
        width: 300px;
        height: 350px;
    }
}

@media screen and (max-width: 300px){
    header .headerBackground img {
        width: 250px;
        height: 250px;
    }
}
// Style for LandingpagePoup => _landingpageForm.scss
