.posts, #timelineWrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: white;
  -moz-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5); }
  .posts .postHeader, #timelineWrapper .postHeader {
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: 300; }
    .posts .postHeader .profilImg, #timelineWrapper .postHeader .profilImg {
      float: left;
      display: inline-block;
      padding: 5%;
      background: url("/public/img/testThumnail.png") no-repeat center;
      background-size: contain;
      border-radius: 2.5px;
      margin-right: 2%; }
    .posts .postHeader .postTextContainer, #timelineWrapper .postHeader .postTextContainer {
      width: 88%;
      float: left; }
      .posts .postHeader .postTextContainer h4, #timelineWrapper .postHeader .postTextContainer h4 {
        float: left;
        display: inline-block; }
      .posts .postHeader .postTextContainer .circleSeperator, #timelineWrapper .postHeader .postTextContainer .circleSeperator {
        float: left;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #9db5b2;
        margin: 5px 5px 0 5px; }
      .posts .postHeader .postTextContainer .timeAgo, #timelineWrapper .postHeader .postTextContainer .timeAgo {
        display: inline-block;
        float: left;
        color: rgba(0, 0, 0, 0.2); }
      .posts .postHeader .postTextContainer p, #timelineWrapper .postHeader .postTextContainer p {
        display: inline-block; }
  .posts .postMain, #timelineWrapper .postMain {
    overflow: hidden; }
    .posts .postMain .vidOrImg, #timelineWrapper .postMain .vidOrImg {
      display: block;
      width: 560px;
      height: 280px;
      background: url("/public/img/testImg.png") no-repeat center;
      background-size: cover;
      margin-bottom: 10px;
      border-radius: 5px;
      margin-bottom: 10px; }
    .posts .postMain .likeCountContainer, #timelineWrapper .postMain .likeCountContainer {
      cursor: pointer;
      float: left;
      display: inline-block; }
      .posts .postMain .likeCountContainer .heart, #timelineWrapper .postMain .likeCountContainer .heart {
        float: left;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url("/public/img/buttons/likeButton.svg") no-repeat center; }
      .posts .postMain .likeCountContainer .likeCount, #timelineWrapper .postMain .likeCountContainer .likeCount {
        line-height: 20px;
        float: left;
        margin-left: 5px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase; }
    .posts .postMain .postTags, #timelineWrapper .postMain .postTags {
      line-height: 20px;
      float: right; }
      .posts .postMain .postTags a, #timelineWrapper .postMain .postTags a {
        margin-left: 2px; }
        .posts .postMain .postTags a span, #timelineWrapper .postMain .postTags a span {
          font-weight: 800; }

@media screen and (max-width: 500px) {
  #timelineWrapper section {
    border-radius: 0; }
    #timelineWrapper section .postMain .vidOrImg {
      width: 300px;
      height: 150px;
      margin: 0 auto; } }
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #333; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 10px;
  background-color: white; }
  html body {
    margin: 0 !important;
    background-color: rgba(0, 0, 0, 0.24); }

img {
  pointer-events: none; }

.radioprefix, .generalFilterContainer form {
  float: right; }
  .radioprefix input, .generalFilterContainer form input, .radioprefix label, .generalFilterContainer form label {
    margin-right: 4px; }
  .radioprefix input[type="radio"], .generalFilterContainer form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5); }
    .radioprefix input[type="radio"]:checked, .generalFilterContainer form input[type="radio"]:checked {
      outline: none;
      background-color: #2196f3;
      border: #2196f3; }

.navbar {
  margin: 0;
  border: 0;
  min-height: inherit; }

.navbar-nav {
  margin: 0; }

.nav li {
  display: inline-block; }

.nav li a {
  display: inline-block;
  padding: 0px; }

.nav li a:hover {
  background-color: transparent; }

.displayNone {
  display: none; }

div.embed-responsive-16by9 {
  padding: 0;
  height: 80vh;
  width: 100%; }
  div.embed-responsive-16by9 iframe {
    height: 80vh; }

.form-control {
  border-radius: 0; }

.glyphicon {
  top: 0; }

.glyphicon {
  border-radius: 0; }

.input-group-addon {
  border-radius: 0;
  border: 0; }

.btn {
  width: 50%;
  border-radius: 0; }

.form-group {
  text-align: center; }

input {
  font-family: "Paralucent", sans-serif; }
  input:focus {
    outline: 0; }

.form-control:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media screen and (min-width: 768px) {
  .navbar {
    border-radius: 0; }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0; }

  .navbar-nav > li {
    float: none; }

  .navbar-right {
    float: right !important;
    margin-right: 0; } }
@media screen and (max-width: 768px) {
  .navbar-right {
    float: right; } }
.flexboxContainer, .fullscreenHeader .error-page, .fullscreenHeader .headerBackground, #landing-presentation-vid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.fullscreenHeader {
  position: relative;
  font-family: "Prohibition", "Oswald", sans-serif;
  background: url("/public/img/startseitenbild.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 100vh; }
  .fullscreenHeader ul {
    width: 100%;
    text-align: center;
    display: inline-block;
    float: right; }
    .fullscreenHeader ul li {
      box-shadow: -4px 4px 2px 0px rgba(0, 0, 0, 0.5);
      margin: 20px 0px 0 20px;
      padding: 10px 30px;
      background-color: #fff;
      display: inline-block; }
      .fullscreenHeader ul li:active {
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5); }
      .fullscreenHeader ul li a {
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 600;
        text-shadow: -2px 1px 5px rgba(0, 0, 0, 0.5);
        font-size: 2rem;
        color: black;
        display: inline-block; }
        .fullscreenHeader ul li a:hover {
          color: inherit; }
  .fullscreenHeader .error-page {
    height: 100vh; }
    .fullscreenHeader .error-page .back-to-home-arrow a {
      display: inline-block;
      width: 160px;
      height: 120px;
      background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center;
      background-size: cover; }
    .fullscreenHeader .error-page .error-msg {
      margin-bottom: 20px;
      border: 2.5px dotted black;
      padding: 20px 40px; }
      .fullscreenHeader .error-page .error-msg h2 {
        font-size: 4rem; }
      .fullscreenHeader .error-page .error-msg small {
        font-size: 1.5rem; }
  .fullscreenHeader .navbar-brand {
    display: inline-block;
    font-size: 30px;
    padding: 20px 0 0 30px; }
    .fullscreenHeader .navbar-brand a {
      display: block; }
    .fullscreenHeader .navbar-brand img {
      width: 100%;
      height: 25px; }
  .fullscreenHeader nav {
    display: none;
    z-index: 20; }
  .fullscreenHeader .headerBackground {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
    .fullscreenHeader .headerBackground ul {
      margin-bottom: 50px; }
    .fullscreenHeader .headerBackground img {
      width: 350px;
      height: 350px; }

#loggedinNav {
  z-index: 9999;
  position: fixed;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
  #loggedinNav div {
    z-index: 9999;
    max-width: 960px;
    max-height: 50px;
    padding: 5px 0;
    width: 100%;
    margin: 0 auto; }
    #loggedinNav div ul {
      overflow: hidden;
      margin: 0 auto; }
      #loggedinNav div ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 20px; }
        #loggedinNav div ul li#menu {
          background: url("/public/img/graphics/menu.svg") no-repeat center; }
        #loggedinNav div ul li#logo {
          width: 200px;
          background: url("/public/img/graphics/logologgedin.svg") no-repeat center; }
        #loggedinNav div ul li#filter {
          background: url("/public/img/graphics/filter.svg") no-repeat center; }
        #loggedinNav div ul li#search {
          background: url("/public/img/graphics/search.svg") no-repeat center; }
        #loggedinNav div ul li:last-child {
          margin-right: 0; }

@media screen and (max-device-width: 600px) and (orientation: landscape) {
  header .headerBackground img {
    width: 200px;
    height: 200px; } }
@media screen and (max-width: 400px) {
  #loggedinNav div ul {
    padding: 0 10px; }
    #loggedinNav div ul li#logo {
      width: 100px;
      background: url("/public/img/littleLogoPlus.svg") no-repeat center; } }
footer {
  font-family: "Prohibition", "Oswald", sans-serif;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 1.25rem;
  text-transform: uppercase; }
  footer div, footer p, footer a {
    display: inline-block;
    float: left;
    color: rgba(59, 65, 60, 0.5); }
  footer #footer-left p {
    cursor: pointer;
    margin-right: 20px; }
    footer #footer-left p:last-child {
      margin-right: auto; }
    footer #footer-left p:hover {
      color: #3b413c; }
  footer #footer-right {
    float: right; }

.inner-wrap, #landing-explain .explain-container {
  float: left;
  width: 100%;
  margin: 0 auto; }

section {
  background-color: white;
  overflow: hidden;
  font-family: "Paralucent", sans-serif; }

#landing-presentation-vid {
  padding: 50px 0; }

#landing-explain {
  height: auto;
  background-color: #DAF0EE;
  overflow: hidden;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: justify;
  font-size: 1.5rem; }
  #landing-explain .explain-container {
    margin-bottom: 20px; }
    #landing-explain .explain-container figure {
      text-align: center;
      margin-bottom: 20px; }
      #landing-explain .explain-container figure .seperator {
        height: 50px; }
      #landing-explain .explain-container figure img {
        height: 200px; }
    #landing-explain .explain-container p {
      width: 50%;
      margin: 0 auto; }

#landing-stats {
  height: auto;
  padding: 100px 20px;
  font-size: 1.5rem; }
  #landing-stats .inner-wrap, #landing-stats #landing-explain .explain-container, #landing-explain #landing-stats .explain-container {
    text-align: center; }
    #landing-stats .inner-wrap:first-child, #landing-stats #landing-explain .explain-container:first-child, #landing-explain #landing-stats .explain-container:first-child {
      margin-bottom: 50px; }
    #landing-stats .inner-wrap h2, #landing-stats #landing-explain .explain-container h2, #landing-explain #landing-stats .explain-container h2 {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding: 10px 30px;
      background-color: #DAF0EE;
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5); }
    #landing-stats .inner-wrap small, #landing-stats #landing-explain .explain-container small, #landing-explain #landing-stats .explain-container small {
      display: block;
      margin-bottom: 20px; }
      #landing-stats .inner-wrap small span, #landing-stats #landing-explain .explain-container small span, #landing-explain #landing-stats .explain-container small span {
        margin: 0 5px; }
    #landing-stats .inner-wrap figure img, #landing-stats #landing-explain .explain-container figure img, #landing-explain #landing-stats .explain-container figure img {
      height: 80px; }

@media screen and (max-width: 768px) {
  #landing-presentation-vid {
    padding: 0 0; }

  #landing-explain {
    padding: 20px 20px; }
    #landing-explain .explain-container figure img {
      height: 100px; }
    #landing-explain .explain-container p {
      width: 80%; } }
@media screen and (max-width: 468px) {
  .fullscreenHeader .headerBackground img {
    width: 300px;
    height: 350px; } }
@media screen and (max-width: 300px) {
  header .headerBackground img {
    width: 250px;
    height: 250px; } }
.form-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed; }
  .form-container .landing-form-container {
    z-index: 9999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    max-width: 500px; }
    .form-container .landing-form-container small {
      display: block;
      text-align: center; }
      .form-container .landing-form-container small a {
        color: white;
        font-size: 1.25rem;
        font-family: "Paralucent", sans-serif; }
        .form-container .landing-form-container small a:hover, .form-container .landing-form-container small a:active {
          color: #2196f3; }
    .form-container .landing-form-container .landing-form-container-head {
      width: 100%;
      position: relative;
      font-family: "Prohibition", "Oswald", sans-serif;
      padding: 30px 0;
      background-color: #3B413C;
      color: #fff; }
      .form-container .landing-form-container .landing-form-container-head h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 10px; }
    .form-container .landing-form-container main {
      background-color: #DAF0EE;
      padding: 50px 40px 40px 40px; }
      .form-container .landing-form-container main form {
        overflow-x: hidden;
        display: block;
        width: 100%; }
        .form-container .landing-form-container main form input {
          width: 100%;
          padding: 10px 0 5px 5px;
          border: 0;
          color: black;
          margin-bottom: 10px;
          -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
          -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
          -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
          -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input.placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input:-moz-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input::-moz-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input:-ms-input-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input::-webkit-input-placeholder {
            color: rgba(0, 0, 0, 0.5); }
          .form-container .landing-form-container main form input:focus {
            border-bottom: 2px solid #2196f3; }
      .form-container .landing-form-container main input[type="submit"] {
        padding: 10px 0;
        min-width: 150px;
        width: 50%;
        font-family: "Prohibition", "Oswald", sans-serif;
        background-color: #333;
        color: white;
        font-size: 1.5rem;
        border: 0;
        margin-bottom: 10px;
        -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
        -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
        box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
        .form-container .landing-form-container main input[type="submit"]:hover, .form-container .landing-form-container main input[type="submit"]:focus {
          outline: 0;
          outline-offset: 0; }
        .form-container .landing-form-container main input[type="submit"]:active, .form-container .landing-form-container main input[type="submit"]:visited {
          -moz-box-shadow: none;
          -ms-box-shadow: none;
          -o-box-shadow: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: 0;
          outline-offset: 0; }
      .form-container .landing-form-container main .form-text a {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.5); }
    .form-container .landing-form-container .form-text {
      display: block; }

.landing-form-logo {
  position: absolute;
  width: 80px;
  height: 65px;
  background: url("../img/littleLogo.svg") no-repeat center;
  left: 0;
  right: 0;
  margin: 0 auto; }

#register {
  display: none; }

#login {
  display: none; }
  #login main form .input-group:nth-child(2) {
    margin-bottom: 0; }
  #login main form .checkbox label {
    min-height: 20px; }
  #login main form .checkbox input[type="checkbox"] {
    margin: 0;
    border-radius: 0px;
    -webkit-appearance: none;
    border: 1px solid black;
    background-color: white;
    box-shadow: none;
    width: 17px;
    height: 17px;
    margin-top: 0; }
    #login main form .checkbox input[type="checkbox"]:checked {
      background-color: #2196f3;
      border-color: #2196f3; }

#pw-reset {
  display: none; }
  #pw-reset .landing-form-container-head {
    background-color: #DAF0EE;
    overflow: hidden;
    border: 0; }
    #pw-reset .landing-form-container-head .landing-form-logo {
      display: inline-block;
      float: left;
      position: inherit;
      margin-right: 20px; }
    #pw-reset .landing-form-container-head h3 {
      font-family: "Paralucent", sans-serif;
      color: #333;
      line-height: 65px;
      float: left;
      display: inline-block;
      margin-bottom: 0; }
  #pw-reset main {
    padding: 0 40px 20px 40px;
    border: 0; }

@media screen and (max-width: 768px) {
  .landing-form-container {
    padding: 50px 20px 20px 20px; }

  .checkbox label {
    line-height: 20px; } }
@media screen and (max-width: 667px) {
  .landing-form-container {
    padding: 10px; }

  main {
    border: 1px solid #3b413c; }

  #pw-reset .landing-form-container-head {
    border-bottom: none; }
  #pw-reset main {
    border-top: none; } }
@media screen and (orientation: landscape) {
  .form-container {
    overflow: scroll; }

  main {
    border: 1px solid #3b413c; }

  #pw-reset .landing-form-container-head {
    border-bottom: none; }
  #pw-reset main {
    border-top: none; } }
.termsContainer {
  display: block;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; }
  .termsContainer div {
    overflow: scroll;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; }
    .termsContainer div .hideTerms {
      margin: 0 auto;
      background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center;
      width: 75px;
      height: 75px;
      display: block; }
    .termsContainer div h2 {
      font-size: 2rem;
      font-family: "Prohibition", "Oswald", sans-serif; }
    .termsContainer div hr {
      border-top: 1px solid black;
      margin-top: 10px; }
    .termsContainer div h3 {
      margin-top: 10px;
      font-size: 1.5rem;
      font-family: "Prohibition", "Oswald", sans-serif; }
    .termsContainer div p, .termsContainer div strong, .termsContainer div ul {
      margin: 10px 0 5px;
      font-family: "Paralucent", sans-serif;
      font-size: 1.15rem; }
    .termsContainer div strong {
      font-weight: 400;
      margin: 10px 0 5px;
      display: block; }
    .termsContainer div ul {
      list-style: inside; }
      .termsContainer div ul li {
        font-weight: 300;
        padding-left: 15px;
        margin-bottom: 5px; }
        .termsContainer div ul li:last-child {
          margin-bottom: 0; }
  .termsContainer.termShow {
    opacity: 1;
    visibility: visible;
    z-index: 9999; }

#timelineWrapper {
  padding-top: 70px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.3rem; }

.showHide {
  -webkit-transition: top 300ms ease-in-out 0s;
  -moz-transition: top 300ms ease-in-out 0s;
  -o-transition: top 300ms ease-in-out 0s;
  transition: top 300ms ease-in-out 0s; }

.navigateFixed {
  width: 100%;
  position: fixed;
  display: none;
  background-color: white;
  border-bottom: 1px solid black; }
  .navigateFixed .container-fluid {
    padding: 0; }
  .navigateFixed .navbar-brand {
    padding: 0 5px;
    display: inline-block; }
    .navigateFixed .navbar-brand a img {
      width: 150px;
      height: 50px; }
  .navigateFixed ul {
    width: auto;
    text-align: inherit; }
    .navigateFixed ul li {
      margin: 10px 5px;
      padding: 5px 10px; }
      .navigateFixed ul li:last-child {
        margin-left: 0; }
      .navigateFixed ul li a {
        letter-spacing: 2px; }

.securityCheck {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 125px);
  width: 250px;
  text-align: center;
  border-radius: 2.5px;
  background-color: white;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .securityCheck h4 {
    padding: 20px 10px;
    font-size: 1.4rem; }
  .securityCheck div {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 10px 0; }
    .securityCheck div a {
      color: white; }
    .securityCheck div a:hover {
      text-decoration: none; }
    .securityCheck div.resetEntrys {
      background-color: #ef868b; }
    .securityCheck div.stayWithEntrys {
      background-color: #2196f3; }

.menuContainer {
  display: block;
  position: fixed;
  left: -302px;
  margin-top: 50px;
  width: 250px;
  text-align: center;
  padding: 25px 0;
  border: 1px solid black;
  background-color: white;
  -moz-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 300ms ease-in-out 0s;
  -moz-transition: left 300ms ease-in-out 0s;
  -o-transition: left 300ms ease-in-out 0s;
  transition: left 300ms ease-in-out 0s; }
  .menuContainer.toggleSide {
    left: 0px; }
  .menuContainer .menuHeader {
    padding: 20px 0; }
    .menuContainer .menuHeader img {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
      border-radius: 100%;
      -moz-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -o-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5); }
  .menuContainer .menuMain {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .menuContainer .menuMain div {
      display: inline-block;
      text-align: left; }
      .menuContainer .menuMain div p {
        line-height: 20px; }
        .menuContainer .menuMain div p a {
          overflow: hidden; }
          .menuContainer .menuMain div p a span {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 5px 10px 0 0; }
            .menuContainer .menuMain div p a span.userprofileIcon {
              background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }
            .menuContainer .menuMain div p a span.editProfileIcon {
              background: url("/public/img/graphics/editProfileIcon.svg") no-repeat center; }
  .menuContainer .menuFooter {
    padding: 25px 0; }
    .menuContainer .menuFooter a {
      color: white;
      display: inline-block;
      padding: 10px 20px;
      background-color: #ef868b; }

.searchBarContainer {
  position: fixed;
  top: -35px;
  background-color: white;
  display: block;
  width: 100%; }
  .searchBarContainer.toggleUp {
    top: 50px; }
  .searchBarContainer input {
    font-size: 1.5rem;
    width: 100%;
    border: 0;
    padding: 10px 0;
    text-align: center;
    -webkit-appearance: none;
    background-color: #DAF0EE; }
    .searchBarContainer input:focus {
      outline: 0;
      border: 0; }
  .searchBarContainer .userFilterContainer {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .searchBarContainer .userFilterContainer div {
      margin: 0 10%;
      width: 20px;
      height: 20px;
      display: inline-block; }
      .searchBarContainer .userFilterContainer div.generalSearchIcon {
        background: url("/public/img/buttons/generelFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.userSearchIcon {
        background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.hashSearchIcon {
        background: url("/public/img/buttons/hashFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.adminSearchIcon {
        background: url("/public/img/buttons/adminFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div:last-child {
        margin-right: 0; }
  .searchBarContainer .searchResults {
    background-color: white; }
    .searchBarContainer .searchResults p {
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .searchBarContainer .searchResults p span {
        margin-right: 5px;
        width: 10px;
        height: 10px;
        display: inline-block; }
        .searchBarContainer .searchResults p span.searchHash {
          background: url("/public/img/buttons/hashFilterIcon.svg") no-repeat center; }
        .searchBarContainer .searchResults p span.searchUser {
          background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }

.generalFilterContainer {
  top: 0px;
  width: 100%;
  position: fixed;
  padding: 13px 0;
  font-size: 1.4rem;
  text-align: center;
  background-color: white;
  font-family: "Paralucent", sans-serif;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .generalFilterContainer.toggleUp {
    top: 50px; }
  .generalFilterContainer .generalFilter {
    display: inline-block;
    overflow: hidden; }
  .generalFilterContainer p {
    display: inline-block;
    float: left;
    margin-right: 20px; }
  .generalFilterContainer form {
    display: inline-block;
    float: left; }
    .generalFilterContainer form label {
      font-weight: 400;
      margin-right: 10px; }
      .generalFilterContainer form label:last-child {
        margin: 0; }
      .generalFilterContainer form label input {
        margin: 0; }

.addPostContainer {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0; }
  .addPostContainer form {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    top: calc(50% - 185px);
    left: calc(50% - 300px);
    position: fixed;
    -moz-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -ms-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -o-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8); }
    .addPostContainer form input {
      display: block; }
      .addPostContainer form input.postTitle {
        float: left;
        width: calc(95% - 5%);
        padding: 5px;
        margin-bottom: 15px;
        margin-right: 5%;
        border: 0;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
        .addPostContainer form input.postTitle.placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle:-moz-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle::-moz-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle:-ms-input-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle::-webkit-input-placeholder {
          color: black;
          font-weight: 300; }
    .addPostContainer form .postExitBtn {
      margin-top: 3px;
      width: 5%;
      height: 25px;
      display: block;
      background: url("/public/img/buttons/closeButton.svg") no-repeat center; }
    .addPostContainer form span {
      float: left;
      display: inline-block;
      width: 10%; }
    .addPostContainer form .postChooseContainer {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      margin-bottom: 15px; }
      .addPostContainer form .postChooseContainer div {
        position: relative;
        float: left;
        width: calc(50% - 2.5%);
        padding: 50px 0;
        margin-right: 2.5%;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
        .addPostContainer form .postChooseContainer div.videoContainer {
          margin-right: 0;
          margin-left: 2.5%; }
          .addPostContainer form .postChooseContainer div.videoContainer .chooseVideoUrlActive {
            display: none;
            text-align: center;
            box-shadow: none;
            padding: 0; }
            .addPostContainer form .postChooseContainer div.videoContainer .chooseVideoUrlActive input {
              margin: 0 auto;
              border: 1px solid rgba(0, 0, 0, 0.1); }
        .addPostContainer form .postChooseContainer div label {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          .addPostContainer form .postChooseContainer div label input[type=file] {
            display: none; }
        .addPostContainer form .postChooseContainer div span {
          display: block;
          text-align: center;
          float: none;
          margin: 0 auto; }
          .addPostContainer form .postChooseContainer div span.chooseImg {
            width: 100px;
            height: 100px;
            display: block;
            background: url("/public/img/buttons/choosePhoto.svg") no-repeat center; }
          .addPostContainer form .postChooseContainer div span.chooseVideoUrl {
            width: 80px;
            height: 100px;
            display: block;
            background: url("/public/img/buttons/chooseVideo.svg") no-repeat center; }
          .addPostContainer form .postChooseContainer div span.fileInput {
            width: 100%; }
      .addPostContainer form .postChooseContainer .swapItem {
        float: left;
        width: 5%;
        height: 25px;
        display: none;
        background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center; }
    .addPostContainer form .postChooseMainTags {
      overflow-x: hidden;
      margin-bottom: 15px;
      line-height: 18px; }
      .addPostContainer form .postChooseMainTags p, .addPostContainer form .postChooseMainTags input, .addPostContainer form .postChooseMainTags label {
        float: left; }
      .addPostContainer form .postChooseMainTags div {
        float: right; }
        .addPostContainer form .postChooseMainTags div input, .addPostContainer form .postChooseMainTags div label {
          margin-right: 4px; }
        .addPostContainer form .postChooseMainTags div input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          margin-top: 3px; }
          .addPostContainer form .postChooseMainTags div input[type="radio"]:checked {
            outline: none;
            background-color: #2196f3;
            border: #2196f3; }
    .addPostContainer form input[name=addAdditionalTags] {
      display: block;
      width: 100%;
      border: 0;
      padding: 5px;
      margin-bottom: 15px;
      -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
      .addPostContainer form input[name=addAdditionalTags].placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]:-moz-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]::-moz-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]:-ms-input-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]::-webkit-input-placeholder {
        color: black;
        font-weight: 300; }
    .addPostContainer form input[type=submit] {
      padding: 5px 40px;
      background-color: #2196f3;
      color: white;
      border: 0;
      margin: 0 auto; }

.addPostBtn {
  position: fixed;
  left: calc(50% - 25px);
  bottom: 5px;
  cursor: pointer;
  border-radius: 100%;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  display: block;
  background: url("/public/img/buttons/addButton.svg") no-repeat center; }

@media screen and (max-width: 600px) {
  .addPostContainer form {
    width: 400px;
    left: calc(50% - 200px); }
    .addPostContainer form .postChooseContainer div {
      padding: 25px 0; } }
@media screen and (max-width: 400px) {
  .addPostContainer form {
    width: 300px;
    left: calc(50% - 150px); }
    .addPostContainer form .postChooseContainer div {
      padding: 15px 0; }
    .addPostContainer form .postChooseMainTags p {
      width: 100%;
      text-align: center;
      margin-bottom: 5px; }
    .addPostContainer form .postChooseMainTags div {
      float: none;
      margin: 0 auto;
      display: block;
      width: 80%; } }

/*# sourceMappingURL=main.css.map */
