.inputText, .form-container .landing-form-container main form input {
  padding: 10px 0 5px 5px;
  margin-bottom: 15px;
  -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
  .inputText:focus, .form-container .landing-form-container main form input:focus {
    border-bottom: 2px solid #2196f3; }

.postExitBtn {
  margin-top: 3px;
  width: 5%;
  height: 25px;
  display: block;
  background: url("/public/img/buttons/closeButton.svg") no-repeat center; }

.flexboxContainer, .fullscreenHeader .error-page, .fullscreenHeader .headerBackground, #landing-presentation-vid, .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke, .pwCheck, .addPostContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center; }

.posts, .timelineWrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px; }
  .posts .postHeader, .timelineWrapper .postHeader {
    margin-bottom: 10px;
    overflow: hidden;
    font-weight: 300; }
    .posts .postHeader .profilImg, .timelineWrapper .postHeader .profilImg {
      float: left;
      display: inline-block;
      padding: 5%;
      background: url("/public/img/testThumnail.png") no-repeat center;
      background-size: contain;
      border-radius: 2.5px;
      margin-right: 2%; }
    .posts .postHeader .postTextContainer, .timelineWrapper .postHeader .postTextContainer {
      width: 88%;
      float: left; }
      .posts .postHeader .postTextContainer h4, .timelineWrapper .postHeader .postTextContainer h4 {
        float: left;
        display: inline-block; }
      .posts .postHeader .postTextContainer .circleSeperator, .timelineWrapper .postHeader .postTextContainer .circleSeperator {
        float: left;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #9db5b2;
        margin: 5px 5px 0 5px; }
      .posts .postHeader .postTextContainer .timeAgo, .timelineWrapper .postHeader .postTextContainer .timeAgo {
        display: inline-block;
        float: left;
        color: rgba(0, 0, 0, 0.2); }
      .posts .postHeader .postTextContainer p, .timelineWrapper .postHeader .postTextContainer p {
        display: inline-block; }
  .posts .postMain, .timelineWrapper .postMain {
    overflow: hidden; }
    .posts .postMain .vidOrImg, .timelineWrapper .postMain .vidOrImg {
      margin: 0 auto;
      margin-bottom: 10px; }
      .posts .postMain .vidOrImg img, .timelineWrapper .postMain .vidOrImg img {
        width: 100%;
        border-radius: 5px;
        width: 100%;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
    .posts .postMain .likeCountContainer, .timelineWrapper .postMain .likeCountContainer {
      cursor: pointer;
      float: left;
      display: inline-block; }
      .posts .postMain .likeCountContainer .heart, .timelineWrapper .postMain .likeCountContainer .heart {
        float: left;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url("/public/img/buttons/likeButton.svg") no-repeat center; }
      .posts .postMain .likeCountContainer .likeCount, .timelineWrapper .postMain .likeCountContainer .likeCount {
        line-height: 20px;
        float: left;
        margin-left: 5px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase; }
    .posts .postMain .postTags, .timelineWrapper .postMain .postTags {
      line-height: 20px;
      float: right; }
      .posts .postMain .postTags a, .timelineWrapper .postMain .postTags a {
        margin-left: 2px; }
        .posts .postMain .postTags a span, .timelineWrapper .postMain .postTags a span {
          font-weight: 800; }

@media screen and (max-width: 500px) {
  #timelineWrapper section {
    border-radius: 0; } }
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box !important; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #333; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  box-sizing: border-box;
  vertical-align: middle; }

html {
  font-size: 10px;
  background-color: white;
  height: 100%; }
  html body {
    overflow: hidden;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.14); }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #fff; }

img {
  pointer-events: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type="text"], input[type="password"], input[type="email"], select[type="text"], select[type="password"], select[type="email"] {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: black; }
    input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, select[type="text"].placeholder, select[type="password"].placeholder, select[type="email"].placeholder {
      color: rgba(0, 0, 0, 0.5); }
    input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, select[type="text"]:-moz-placeholder, select[type="password"]:-moz-placeholder, select[type="email"]:-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, select[type="text"]::-moz-placeholder, select[type="password"]::-moz-placeholder, select[type="email"]::-moz-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, select[type="text"]:-ms-input-placeholder, select[type="password"]:-ms-input-placeholder, select[type="email"]:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }
    input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, select[type="text"]::-webkit-input-placeholder, select[type="password"]::-webkit-input-placeholder, select[type="email"]::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.5); }

select {
  box-sizing: border-box;
  width: 150px;
  padding: 5px 20px 5px 10px;
  border-radius: 0;
  border: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  font-family: "Paralucent", sans-serif;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  select:focus, select:active {
    outline: none; }
  select option {
    border-radius: 0;
    background-color: white; }

.hideTerms {
  margin: 0 auto;
  background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center;
  width: 75px;
  height: 75px;
  display: block; }

input[type="submit"] {
  padding: 10px 0;
  min-width: 150px;
  font-family: "Prohibition", "Oswald", sans-serif;
  background-color: #2196f3;
  color: white;
  font-size: 1.5rem;
  border: 0;
  margin-bottom: 10px;
  -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
  input[type="submit"]:hover, input[type="submit"]:focus {
    outline: 0;
    outline-offset: 0; }
  input[type="submit"]:active, input[type="submit"]:visited {
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    outline-offset: 0; }

.radioprefix, .generalFilterContainer form {
  float: right; }
  .radioprefix input, .generalFilterContainer form input, .radioprefix label, .generalFilterContainer form label {
    margin: 0;
    margin-right: 4px; }
  .radioprefix input, .generalFilterContainer form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .radioprefix input[type="radio"], .generalFilterContainer form input[type="radio"] {
    width: 18px;
    height: 18px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
    .radioprefix input[type="radio"]:checked, .generalFilterContainer form input[type="radio"]:checked {
      outline: none;
      background-color: #2196f3;
      border: #2196f3;
      -webkit-transition: all 400ms ease-in-out 0s;
      -moz-transition: all 400ms ease-in-out 0s;
      -o-transition: all 400ms ease-in-out 0s;
      transition: all 400ms ease-in-out 0s; }

input, label {
  font-family: "Paralucent", sans-serif; }
  input:active, input:focus, label:active, label:focus {
    outline: none; }

@media screen and (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 0; } }
@media screen and (max-width: 768px) {
  .navbar-right {
    float: right; } }
.fullscreenHeader {
  position: relative;
  font-family: "Prohibition", "Oswald", sans-serif;
  background: url("/public/img/startseitenbild.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  height: 100vh; }
  .fullscreenHeader ul {
    width: 100%;
    text-align: center;
    display: inline-block;
    float: right; }
    .fullscreenHeader ul li {
      box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.8);
      margin: 20px 0px 0 20px;
      padding: 10px 30px;
      background-color: #fff;
      display: inline-block; }
      .fullscreenHeader ul li:active {
        box-shadow: -4px 4px 2px 0px rgba(0, 0, 0, 0.8); }
      .fullscreenHeader ul li a {
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2rem;
        color: black;
        display: inline-block; }
        .fullscreenHeader ul li a:hover {
          color: inherit; }
  .fullscreenHeader .error-page {
    height: 100vh; }
    .fullscreenHeader .error-page .back-to-home-arrow a {
      display: inline-block;
      width: 160px;
      height: 120px;
      background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center;
      background-size: cover; }
    .fullscreenHeader .error-page .error-msg {
      margin-bottom: 20px;
      border: 2.5px dotted black;
      padding: 20px 40px; }
      .fullscreenHeader .error-page .error-msg h2 {
        font-size: 4rem; }
      .fullscreenHeader .error-page .error-msg small {
        font-size: 1.5rem; }
  .fullscreenHeader .navbar-brand {
    display: inline-block;
    font-size: 30px;
    padding: 20px 0 0 30px; }
    .fullscreenHeader .navbar-brand a {
      display: block; }
    .fullscreenHeader .navbar-brand img {
      width: 100%;
      height: 25px; }
  .fullscreenHeader nav {
    display: none;
    z-index: 20; }
  .fullscreenHeader .headerBackground {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%; }
    .fullscreenHeader .headerBackground ul {
      margin-bottom: 50px; }
    .fullscreenHeader .headerBackground img {
      width: 350px;
      height: 350px; }

#loggedinNav {
  z-index: 9999;
  position: fixed;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  -moz-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: -2px 2px 1px 0px rgba(0, 0, 0, 0.5); }
  #loggedinNav div {
    z-index: 9999;
    max-width: 960px;
    max-height: 50px;
    padding: 10px 0;
    width: 100%;
    margin: 0 auto; }
    #loggedinNav div ul {
      overflow: hidden;
      margin: 0 auto;
      padding: 0 5px; }
      @media screen and (max-width: 500px) {
        #loggedinNav div ul ul li {
          width: 30px;
          height: 30px; } }
      #loggedinNav div ul li {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
        margin-right: 20px; }
        #loggedinNav div ul li#menu {
          background: url("/public/img/graphics/menu2.svg") no-repeat center; }
        #loggedinNav div ul li#logo {
          width: 200px;
          background: url("/public/img/graphics/logologgedin.svg") no-repeat center; }
        #loggedinNav div ul li#filter {
          background: url("/public/img/graphics/filter2.svg") no-repeat center; }
        #loggedinNav div ul li#search {
          background: url("/public/img/graphics/search2.svg") no-repeat center; }
        #loggedinNav div ul li:last-child {
          margin-right: 0; }

@media screen and (max-device-width: 600px) and (orientation: landscape) {
  header .headerBackground img {
    width: 200px;
    height: 200px; } }
@media screen and (max-width: 400px) {
  #loggedinNav div ul {
    padding: 0 10px; }
    #loggedinNav div ul li#logo {
      width: 100px;
      background: url("/public/img/littleLogoPlus.svg") no-repeat center; } }
footer {
  font-family: "Prohibition", "Oswald", sans-serif;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 1.25rem;
  text-transform: uppercase; }
  footer div, footer p, footer a {
    display: inline-block;
    float: left;
    color: rgba(59, 65, 60, 0.5); }
  footer #footer-left p {
    cursor: pointer;
    margin-right: 20px; }
    footer #footer-left p:last-child {
      margin-right: auto; }
    footer #footer-left p:hover {
      color: #3b413c; }
  footer #footer-right {
    float: right; }

.inner-wrap, #landing-explain .explain-container {
  float: left;
  width: 100%;
  margin: 0 auto; }

section {
  background-color: white;
  overflow: hidden;
  font-family: "Paralucent", sans-serif; }

#landing-presentation-vid {
  padding: 50px 0; }

#landing-explain {
  height: auto;
  background-color: #DAF0EE;
  overflow: hidden;
  margin: 0 auto;
  padding: 100px 20px;
  text-align: justify;
  font-size: 1.5rem; }
  #landing-explain .explain-container {
    margin-bottom: 20px; }
    #landing-explain .explain-container figure {
      text-align: center;
      margin-bottom: 20px; }
      #landing-explain .explain-container figure .seperator {
        height: 50px; }
      #landing-explain .explain-container figure img {
        height: 200px; }
    #landing-explain .explain-container p {
      width: 50%;
      margin: 0 auto; }

#landing-stats {
  height: auto;
  padding: 100px 20px;
  font-size: 1.5rem; }
  #landing-stats .inner-wrap, #landing-stats #landing-explain .explain-container, #landing-explain #landing-stats .explain-container {
    text-align: center; }
    #landing-stats .inner-wrap:first-child, #landing-stats #landing-explain .explain-container:first-child, #landing-explain #landing-stats .explain-container:first-child {
      margin-bottom: 50px; }
    #landing-stats .inner-wrap h2, #landing-stats #landing-explain .explain-container h2, #landing-explain #landing-stats .explain-container h2 {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding: 10px 30px;
      background-color: #DAF0EE;
      text-shadow: -2px 1px 2px rgba(0, 0, 0, 0.5); }
    #landing-stats .inner-wrap small, #landing-stats #landing-explain .explain-container small, #landing-explain #landing-stats .explain-container small {
      display: block;
      margin-bottom: 20px; }
      #landing-stats .inner-wrap small span, #landing-stats #landing-explain .explain-container small span, #landing-explain #landing-stats .explain-container small span {
        margin: 0 5px; }
    #landing-stats .inner-wrap figure img, #landing-stats #landing-explain .explain-container figure img, #landing-explain #landing-stats .explain-container figure img {
      height: 80px; }

@media screen and (max-width: 768px) {
  #landing-presentation-vid {
    padding: 0 0; }

  #landing-explain {
    padding: 20px 20px; }
    #landing-explain .explain-container figure img {
      height: 100px; }
    #landing-explain .explain-container p {
      width: 80%; } }
@media screen and (max-width: 468px) {
  .fullscreenHeader .headerBackground img {
    width: 300px;
    height: 350px; } }
@media screen and (max-width: 300px) {
  header .headerBackground img {
    width: 250px;
    height: 250px; } }
.form-container {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed; }
  .form-container .landing-form-container {
    z-index: 9999;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    max-width: 500px; }
    .form-container .landing-form-container small {
      display: block;
      text-align: center; }
      .form-container .landing-form-container small a {
        color: white;
        font-size: 1.25rem;
        font-family: "Paralucent", sans-serif; }
        .form-container .landing-form-container small a:hover, .form-container .landing-form-container small a:active {
          color: #2196f3; }
    .form-container .landing-form-container .landing-form-container-head {
      width: 100%;
      position: relative;
      font-family: "Prohibition", "Oswald", sans-serif;
      padding: 30px 0;
      background-color: #3B413C;
      color: #fff; }
      .form-container .landing-form-container .landing-form-container-head h3 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 10px; }
    .form-container .landing-form-container main {
      background-color: #DAF0EE;
      padding: 50px 40px 40px 40px; }
      .form-container .landing-form-container main form {
        overflow-x: hidden;
        display: block;
        text-align: center;
        width: 100%; }
        .form-container .landing-form-container main form .checkbox {
          text-align: left;
          margin-bottom: 10px; }
      .form-container .landing-form-container main input[type="submit"] {
        width: 50%;
        background-color: #333;
        color: white;
        padding: 10px 0; }
      .form-container .landing-form-container main .form-text a {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.5); }
    .form-container .landing-form-container .form-text {
      display: block; }

.landing-form-logo {
  position: absolute;
  width: 80px;
  height: 65px;
  background: url("../img/littleLogo.svg") no-repeat center;
  left: 0;
  right: 0;
  margin: 0 auto; }

#register {
  display: none; }

#login {
  display: none; }
  #login main form .input-group:nth-child(2) {
    margin-bottom: 0; }
  #login main form .checkbox label {
    min-height: 20px; }
  #login main form .checkbox input[type="checkbox"] {
    margin: 0;
    border-radius: 0px;
    -webkit-appearance: none;
    border: 1px solid black;
    background-color: white;
    box-shadow: none;
    width: 17px;
    height: 17px;
    margin-top: 0; }
    #login main form .checkbox input[type="checkbox"]:checked {
      background-color: #2196f3;
      border-color: #2196f3; }

#pw-reset {
  display: none; }
  #pw-reset .landing-form-container-head {
    background-color: #DAF0EE;
    overflow: hidden;
    border: 0; }
    #pw-reset .landing-form-container-head .landing-form-logo {
      display: inline-block;
      float: left;
      position: inherit;
      margin-right: 20px; }
    #pw-reset .landing-form-container-head h3 {
      font-family: "Paralucent", sans-serif;
      color: #333;
      line-height: 65px;
      float: left;
      display: inline-block;
      margin-bottom: 0; }
  #pw-reset main {
    padding: 0 40px 20px 40px;
    border: 0; }

@media screen and (max-width: 768px) {
  .landing-form-container {
    padding: 50px 20px 20px 20px; }

  .checkbox label {
    line-height: 20px; } }
@media screen and (max-width: 667px) {
  .landing-form-container {
    padding: 10px; }

  main {
    border: 1px solid #3b413c; }

  #pw-reset .landing-form-container-head {
    border-bottom: none; }
  #pw-reset main {
    border-top: none; } }
@media screen and (max-width: 350px) {
  .landing-form-container {
    padding: 0; } }
@media screen and (orientation: landscape) {
  .form-container {
    overflow: scroll; }

  main {
    border: 1px solid #3b413c; }

  #pw-reset .landing-form-container-head {
    border-bottom: none; }
  #pw-reset main {
    border-top: none; } }
.termsContainer {
  display: block;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; }
  .termsContainer div {
    overflow: scroll;
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0; }
    .termsContainer div h2 {
      font-size: 2rem;
      font-family: "Prohibition", "Oswald", sans-serif; }
    .termsContainer div hr {
      border-top: 1px solid black;
      margin-top: 10px; }
    .termsContainer div h3 {
      margin-top: 10px;
      font-size: 1.5rem;
      font-family: "Prohibition", "Oswald", sans-serif; }
    .termsContainer div p, .termsContainer div strong, .termsContainer div ul {
      margin: 10px 0 5px;
      font-family: "Paralucent", sans-serif;
      font-size: 1.15rem; }
    .termsContainer div strong {
      font-weight: 400;
      margin: 10px 0 5px;
      display: block; }
    .termsContainer div ul {
      list-style: inside; }
      .termsContainer div ul li {
        font-weight: 300;
        padding-left: 15px;
        margin-bottom: 5px; }
        .termsContainer div ul li:last-child {
          margin-bottom: 0; }
  .termsContainer.termShow {
    opacity: 1;
    visibility: visible;
    z-index: 9999; }

.timelineWrapper {
  overflow: visible;
  padding: 0;
  padding-top: 70px;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.3rem; }
  .timelineWrapper section {
    -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }

.profileUserWrapper {
  padding-top: 50px;
  font-size: 1.3rem;
  font-family: "Paralucent", sans-serif; }
  .profileUserWrapper .UPHeader {
    background-color: white;
    -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
    .profileUserWrapper .UPHeader .UPHeaderImg {
      position: relative;
      background: url("/public/img/testBilder/userProfileBackground.jpg") no-repeat center;
      background-size: cover;
      background-position: top;
      width: 100%;
      height: 250px;
      display: block;
      margin-bottom: 120px; }
      .profileUserWrapper .UPHeader .UPHeaderImg span img {
        left: calc(50% - 100px);
        top: calc(250px - 100px);
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        display: inline-block; }
    .profileUserWrapper .UPHeader .UPMain {
      position: relative;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 300; }
      .profileUserWrapper .UPHeader .UPMain p {
        font-size: 2rem;
        margin-bottom: 15px; }
      .profileUserWrapper .UPHeader .UPMain span:nth-child(3) {
        margin: 0 20px; }
      .profileUserWrapper .UPHeader .UPMain span {
        font-family: "Prohibition", "Oswald", sans-serif; }
      .profileUserWrapper .UPHeader .UPMain form {
        margin: 30px 0; }
        .profileUserWrapper .UPHeader .UPMain form input {
          margin-bottom: 0; }
          .profileUserWrapper .UPHeader .UPMain form input:hover, .profileUserWrapper .UPHeader .UPMain form input:active, .profileUserWrapper .UPHeader .UPMain form input:focus {
            background-color: #ef868b; }
    .profileUserWrapper .UPHeader .additionalInfomartionsContainer {
      text-align: center; }
      .profileUserWrapper .UPHeader .additionalInfomartionsContainer .selfDecidingArrow {
        cursor: pointer;
        margin-bottom: 30px;
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: transform 400ms ease-in-out 0s;
        -moz-transition: transform 400ms ease-in-out 0s;
        -o-transition: transform 400ms ease-in-out 0s;
        transition: transform 400ms ease-in-out 0s;
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center; }
        .profileUserWrapper .UPHeader .additionalInfomartionsContainer .selfDecidingArrow.rotateArrow {
          transform: rotate(90deg); }
      .profileUserWrapper .UPHeader .additionalInfomartionsContainer .additionalInformations {
        display: none;
        width: 50%;
        margin: 0 auto;
        margin-top: 20px;
        font-size: 1.5rem; }
        .profileUserWrapper .UPHeader .additionalInfomartionsContainer .additionalInformations h4 {
          margin-bottom: 10px; }
        .profileUserWrapper .UPHeader .additionalInfomartionsContainer .additionalInformations span {
          color: #ef868b; }
  .profileUserWrapper .UPTimeline {
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden; }
    .profileUserWrapper .UPTimeline .UPTimelineContainer {
      max-width: 684px;
      margin: 0 auto;
      overflow-x: hidden;
      position: relative;
      padding: 2px;
      margin-bottom: 30px; }
      .profileUserWrapper .UPTimeline .UPTimelineContainer:last-child {
        margin-bottom: 0; }
      .profileUserWrapper .UPTimeline .UPTimelineContainer section {
        float: left;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        box-sizing: border-box;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
      .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke {
        max-width: 80px;
        float: left;
        margin-top: calc(205px - 26px); }
        .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke div .timelineStrokeConnection {
          width: 10px;
          height: 1px;
          background-color: rgba(0, 0, 0, 0.1);
          display: inline-block;
          float: left;
          margin-top: calc(26px - 2px);
          width: 30px;
          height: 1px; }
        .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke div .timelineContainer {
          float: left;
          background-color: white;
          border-radius: 100%;
          width: 50px;
          height: 50px;
          -moz-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          -ms-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          -o-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
        .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke div span {
          font-weight: 300;
          letter-spacing: 1px;
          line-height: 52px; }

@media screen and (max-width: 700px) {
  .profileUserWrapper .UPTimeline .UPTimelineContainer section {
    margin-top: 70px; }
  .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke {
    float: none;
    margin-top: 0;
    position: absolute;
    left: calc(50% - 25px); }
    .profileUserWrapper .UPTimeline .UPTimelineContainer .timelineStroke div .timelineStrokeConnection {
      display: none; } }
@media screen and (max-width: 500px) {
  .profileUserWrapper .UPHeader .additionalInfomartionsContainer .additionalInformations {
    width: 100%; }
  .profileUserWrapper .UPHeader .UPHeaderImg {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 95px; }
    .profileUserWrapper .UPHeader .UPHeaderImg span img {
      left: calc(50% - 75px);
      top: calc(200px - 75px);
      width: 150px;
      height: 150px; }

  .profileUserWrapper .UPTimeline .UPTimelineContainer {
    padding: 0 0 2px 0; }
    .profileUserWrapper .UPTimeline .UPTimelineContainer section {
      border-radius: 0; } }
.UB {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: white;
  font-family: "Paralucent", sans-serif;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .UB .UBContainer .hideTerms {
    padding: 0;
    width: 50px; }
  .UB .UBContainer form {
    padding-bottom: 20px; }
    .UB .UBContainer form > * {
      padding: 10px 20px; }
    .UB .UBContainer form .UBBackgroundImageUpload {
      position: relative;
      padding: 0;
      width: 100%;
      height: 200px;
      margin-bottom: 70px;
      background: url("/public/img/testBilder/userProfileBackground.jpg") no-repeat top;
      background-size: cover; }
      .UB .UBContainer form .UBBackgroundImageUpload label {
        display: block;
        height: 200px;
        position: relative; }
        .UB .UBContainer form .UBBackgroundImageUpload label .imageUploadPic {
          position: absolute;
          width: 50px;
          height: 50px;
          display: block;
          z-index: 3;
          top: calc(50% - 25px);
          left: calc(50% - 25px);
          background: url("/public/img/buttons/choosePhoto.svg") no-repeat center; }
        .UB .UBContainer form .UBBackgroundImageUpload label input {
          display: none; }
      .UB .UBContainer form .UBBackgroundImageUpload .UBProfileImageUpload {
        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(200px - 50px);
        left: 10%;
        background: url("/public/img/testBilder/userProfileImage.jpg") no-repeat top;
        background-size: cover;
        border-radius: 100%; }
        .UB .UBContainer form .UBBackgroundImageUpload .UBProfileImageUpload label {
          height: 100%;
          border-radius: 100%; }
    .UB .UBContainer form .radioprefix, .UB .UBContainer form .generalFilterContainer form, .generalFilterContainer .UB .UBContainer form form {
      float: none; }
    .UB .UBContainer form .mainForm label {
      display: block;
      margin-bottom: 5px; }
    .UB .UBContainer form .mainForm input, .UB .UBContainer form .mainForm select {
      margin-bottom: 10px; }
    .UB .UBContainer form .mainForm select {
      margin: 5px 0 15px 0; }
    .UB .UBContainer form .mainForm input {
      padding: 5px 0px 5px 10px;
      -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      border: 0; }
    .UB .UBContainer form .mainForm #radio-button {
      font-family: "Paralucent", sans-serif;
      font-weight: 300;
      font-size: 0;
      margin-bottom: 10px;
      -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
      .UB .UBContainer form .mainForm #radio-button li {
        display: inline-block;
        width: 33.3%;
        height: 23px;
        position: relative;
        font-size: 1.2rem;
        text-align: center;
        line-height: 23px; }
        .UB .UBContainer form .mainForm #radio-button li div {
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          -webkit-transition: all 200ms ease-in-out 0s;
          -moz-transition: all 200ms ease-in-out 0s;
          -o-transition: all 200ms ease-in-out 0s;
          transition: all 200ms ease-in-out 0s; }
      .UB .UBContainer form .mainForm #radio-button input[type="radio"] {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        cursor: pointer; }
        .UB .UBContainer form .mainForm #radio-button input[type="radio"]:checked + div {
          background: #2196f3;
          color: white; }
    .UB .UBContainer form input[type="submit"] {
      display: block;
      margin: auto; }

.pwCheck {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: "Paralucent", sans-serif;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.1;
  transform: scale(0.1); }
  .pwCheck div {
    padding: 10px;
    width: 300px;
    background-color: white;
    text-align: left;
    overflow: hidden;
    -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
    .pwCheck div h4, .pwCheck div form, .pwCheck div input {
      margin-bottom: 10px; }
    .pwCheck div h4 {
      font-size: 1.25rem;
      float: left;
      display: inline-block;
      line-height: 25px; }
    .pwCheck div span {
      display: inline-block;
      float: right;
      margin: 0; }
    .pwCheck div form input {
      padding: 10px; }
    .pwCheck div form input[type="submit"] {
      text-align: center;
      display: block;
      margin: 0 auto; }
  .pwCheck.showUpCheck {
    animation-name: pwCheck;
    animation-duration: 300ms;
    display: flex;
    animation-fill-mode: forwards; }

@keyframes pwCheck {
  0% {
    opacity: 0;
    transform: scale(0.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.showHide {
  -webkit-transition: top 300ms ease-in-out 0s;
  -moz-transition: top 300ms ease-in-out 0s;
  -o-transition: top 300ms ease-in-out 0s;
  transition: top 300ms ease-in-out 0s; }

.navigateFixed {
  width: 100%;
  position: fixed;
  display: none;
  background-color: white;
  border-bottom: 1px solid black; }
  .navigateFixed .container-fluid {
    padding: 0; }
  .navigateFixed .navbar-brand {
    padding: 0 5px;
    display: inline-block; }
    .navigateFixed .navbar-brand a img {
      width: 150px;
      height: 50px; }
  .navigateFixed ul {
    width: auto;
    text-align: inherit; }
    .navigateFixed ul li {
      margin: 10px 5px;
      padding: 5px 10px; }
      .navigateFixed ul li:last-child {
        margin-left: 0; }
      .navigateFixed ul li a {
        letter-spacing: 2px; }

.securityCheck {
  position: absolute;
  top: calc(50% - 26px);
  left: calc(50% - 125px);
  width: 250px;
  text-align: center;
  border-radius: 2.5px;
  background-color: white;
  font-family: "Paralucent", sans-serif;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .securityCheck h4 {
    padding: 20px 10px;
    font-size: 1.4rem; }
  .securityCheck div {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 10px 0; }
    .securityCheck div a {
      color: white; }
    .securityCheck div a:hover {
      text-decoration: none; }
    .securityCheck div.resetEntrys {
      background-color: #ef868b; }
    .securityCheck div.stayWithEntrys {
      background-color: #2196f3; }

.menuContainer {
  font-size: 1.2rem;
  font-family: "Paralucent", sans-serif;
  display: block;
  position: fixed;
  left: -302px;
  margin-top: 50px;
  width: 250px;
  text-align: center;
  padding: 25px 0;
  border: 1px solid black;
  background-color: white;
  z-index: 80;
  -moz-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: left 300ms ease-in-out 0s;
  -moz-transition: left 300ms ease-in-out 0s;
  -o-transition: left 300ms ease-in-out 0s;
  transition: left 300ms ease-in-out 0s; }
  .menuContainer.toggleSide {
    left: 0px; }
  .menuContainer .menuHeader {
    padding: 20px 0; }
    .menuContainer .menuHeader img {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
      border-radius: 100%;
      -moz-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -o-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5);
      box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.5); }
  .menuContainer .menuMain {
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .menuContainer .menuMain div {
      display: inline-block;
      text-align: left; }
      .menuContainer .menuMain div p {
        line-height: 20px; }
        .menuContainer .menuMain div p a {
          overflow: hidden; }
          .menuContainer .menuMain div p a:active, .menuContainer .menuMain div p a:focus {
            background-color: transparent;
            outline: none; }
          .menuContainer .menuMain div p a span {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin: 5px 10px 0 0; }
            .menuContainer .menuMain div p a span.userprofileIcon {
              background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }
            .menuContainer .menuMain div p a span.editProfileIcon {
              background: url("/public/img/graphics/editProfileIcon.svg") no-repeat center; }
            .menuContainer .menuMain div p a span.timelineIcon {
              background: url("/public/img/graphics/timelineIcon.svg") no-repeat center; }
  .menuContainer .menuFooter {
    padding: 25px 0; }
    .menuContainer .menuFooter a {
      color: white;
      display: inline-block;
      padding: 10px 20px;
      background-color: #ef868b; }

.searchBarContainer {
  z-index: 80;
  position: fixed;
  top: -35px;
  background-color: white;
  display: block;
  width: 100%; }
  .searchBarContainer.toggleUp {
    top: 50px; }
  .searchBarContainer input {
    font-size: 1.5rem;
    width: 100%;
    border: 0;
    padding: 10px 0;
    text-align: center;
    background-color: #DAF0EE;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .searchBarContainer input:focus {
      outline: 0;
      border: 0; }
  .searchBarContainer .userFilterContainer {
    z-index: 80;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .searchBarContainer .userFilterContainer div {
      margin: 0 10%;
      width: 20px;
      height: 20px;
      display: inline-block; }
      .searchBarContainer .userFilterContainer div.generalSearchIcon {
        background: url("/public/img/buttons/generelFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.userSearchIcon {
        background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.hashSearchIcon {
        background: url("/public/img/buttons/hashFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div.adminSearchIcon {
        background: url("/public/img/buttons/adminFilterIcon.svg") no-repeat center; }
      .searchBarContainer .userFilterContainer div:last-child {
        margin-right: 0; }
  .searchBarContainer .searchResults {
    background-color: white; }
    .searchBarContainer .searchResults p {
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
      .searchBarContainer .searchResults p span {
        margin-right: 5px;
        width: 10px;
        height: 10px;
        display: inline-block; }
        .searchBarContainer .searchResults p span.searchHash {
          background: url("/public/img/buttons/hashFilterIcon.svg") no-repeat center; }
        .searchBarContainer .searchResults p span.searchUser {
          background: url("/public/img/graphics/userprofileIcon.svg") no-repeat center; }

.generalFilterContainer {
  top: 0px;
  width: 100%;
  position: fixed;
  z-index: 8;
  padding: 13px 0;
  font-size: 1.4rem;
  text-align: center;
  background-color: white;
  font-family: "Paralucent", sans-serif;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
  .generalFilterContainer.toggleUp {
    top: 50px; }
  .generalFilterContainer .generalFilter {
    display: inline-block;
    overflow: hidden; }
  .generalFilterContainer p {
    display: inline-block;
    float: left;
    margin-right: 20px; }
  .generalFilterContainer form {
    display: inline-block;
    float: left; }
    .generalFilterContainer form label {
      font-weight: 400;
      margin-right: 10px; }
      .generalFilterContainer form label:last-child {
        margin: 0; }
      .generalFilterContainer form label input {
        margin: 0; }

.addPostContainer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0; }
  .addPostContainer form {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    position: fixed;
    -moz-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -ms-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -o-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8);
    box-shadow: -1px 1px 1px rgba(255, 255, 255, 0.8); }
    .addPostContainer form input {
      display: block; }
      .addPostContainer form input.postTitle {
        float: left;
        width: calc(95% - 5%);
        padding: 5px;
        margin-bottom: 15px;
        margin-right: 5%;
        border: 0;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
        .addPostContainer form input.postTitle.placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle:-moz-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle::-moz-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle:-ms-input-placeholder {
          color: black;
          font-weight: 300; }
        .addPostContainer form input.postTitle::-webkit-input-placeholder {
          color: black;
          font-weight: 300; }
    .addPostContainer form .postExitBtn {
      margin-top: 3px;
      width: 5%;
      height: 25px;
      display: block;
      background: url("/public/img/buttons/closeButton.svg") no-repeat center; }
    .addPostContainer form span {
      float: left;
      display: inline-block;
      width: 10%; }
    .addPostContainer form .postChooseContainer {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      margin-bottom: 15px; }
      .addPostContainer form .postChooseContainer div {
        position: relative;
        float: left;
        width: calc(50% - 2.5%);
        padding: 50px 0;
        margin-right: 2.5%;
        font-family: "Paralucent", sans-serif;
        -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
        .addPostContainer form .postChooseContainer div.videoContainer {
          margin-right: 0;
          margin-left: 2.5%; }
          .addPostContainer form .postChooseContainer div.videoContainer .chooseVideoUrlActive {
            display: none;
            text-align: center;
            box-shadow: none;
            padding: 0; }
            .addPostContainer form .postChooseContainer div.videoContainer .chooseVideoUrlActive input {
              margin: 0 auto;
              border: 1px solid rgba(0, 0, 0, 0.1); }
        .addPostContainer form .postChooseContainer div label {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0; }
          .addPostContainer form .postChooseContainer div label input[type=file] {
            display: none; }
        .addPostContainer form .postChooseContainer div span {
          display: block;
          text-align: center;
          float: none;
          margin: 0 auto;
          font-family: "Paralucent", sans-serif; }
          .addPostContainer form .postChooseContainer div span.chooseImg {
            width: 100px;
            height: 100px;
            display: block;
            background: url("/public/img/buttons/choosePhoto.svg") no-repeat center; }
          .addPostContainer form .postChooseContainer div span.chooseVideoUrl {
            width: 80px;
            height: 100px;
            display: block;
            background: url("/public/img/buttons/chooseVideo.svg") no-repeat center; }
          .addPostContainer form .postChooseContainer div span.fileInput {
            width: 100%; }
      .addPostContainer form .postChooseContainer .swapItem {
        float: left;
        width: 5%;
        height: 25px;
        display: none;
        background: url("/public/img/buttons/arrow-back-blue.svg") no-repeat center; }
    .addPostContainer form .postChooseMainTags {
      overflow: hidden;
      margin-bottom: 15px;
      line-height: 18px;
      text-align: center; }
      .addPostContainer form .postChooseMainTags p, .addPostContainer form .postChooseMainTags input, .addPostContainer form .postChooseMainTags label {
        font-family: "Paralucent", sans-serif;
        float: left; }
      .addPostContainer form .postChooseMainTags div {
        overflow: hidden;
        float: right; }
        .addPostContainer form .postChooseMainTags div input, .addPostContainer form .postChooseMainTags div label, .addPostContainer form .postChooseMainTags div span {
          margin-right: 4px; }
        .addPostContainer form .postChooseMainTags div input[type="radio"] {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          margin: 0;
          margin-right: 5px;
          -moz-border-radius: 0;
          -webkit-border-radius: 0;
          border-radius: 0; }
          .addPostContainer form .postChooseMainTags div input[type="radio"]:checked {
            outline: none;
            background-color: #2196f3;
            border: #2196f3; }
    .addPostContainer form input[name=addAdditionalTags] {
      display: block;
      width: 100%;
      border: 0;
      padding: 5px;
      margin-bottom: 15px;
      -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
      box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3); }
      .addPostContainer form input[name=addAdditionalTags].placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]:-moz-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]::-moz-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]:-ms-input-placeholder {
        color: black;
        font-weight: 300; }
      .addPostContainer form input[name=addAdditionalTags]::-webkit-input-placeholder {
        color: black;
        font-weight: 300; }
    .addPostContainer form input[type=submit] {
      padding: 5px 40px;
      background-color: #2196f3;
      color: white;
      border: 0;
      margin: 0 auto; }

.addPostBtn {
  position: fixed;
  left: calc(50% - 25px);
  bottom: 5px;
  cursor: pointer;
  border-radius: 100%;
  -moz-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  display: block;
  background: url("/public/img/buttons/addButton.svg") no-repeat center; }
  @media screen and (max-width: 500px) {
    .addPostBtn {
      width: 40px;
      height: 40px; } }

@media screen and (max-width: 600px) {
  .addPostContainer form {
    width: 400px;
    left: calc(50% - 200px); }
    .addPostContainer form .postChooseContainer div {
      padding: 25px 0; } }
@media screen and (max-width: 400px) {
  .addPostContainer form {
    box-sizing: border-box;
    width: 100%;
    left: 0; }
    .addPostContainer form .postChooseContainer div {
      padding: 15px 0; }
    .addPostContainer form .postChooseMainTags p {
      width: 100%;
      text-align: center;
      margin-bottom: 5px; }
    .addPostContainer form .postChooseMainTags div {
      overflow: hidden;
      float: none;
      margin: 0 auto;
      display: inline-block; } }

/*# sourceMappingURL=main.css.map */
