//userbackend style
.UB{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: white;
    @include box-shadow($smoothBoxShadow);
    //TODO adding with js that the height of the site is allways min 100%
    .UBContainer{
        .hideTerms{
            padding: 0;
            width: 50px;
        }
        form{
            & > *{
                padding: 10px 20px;
            }
            .UBBackgroundImageUpload{
                position: relative;
                padding: 0;
                width: 100%;
                height: 200px;
                margin-bottom: 70px;
                background: url("/public/img/testBilder/userProfileBackground.jpg") no-repeat top;
                background-size: cover;
                label{
                    display: block;
                    height: 200px;
                    position: relative;
                    .imageUploadPic{
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        display: block;
                        z-index: 10;
                        top: calc(50% - 25px);
                        left: calc(50% - 25px);
                        background: url("/public/img/buttons/choosePhoto.svg") no-repeat center;
                    }
                    input{
                        display: none;
                    }
                }
                .UBProfileImageUpload{
                    width: 100px;
                    height: 100px;
                    position: absolute;
                    top: calc(200px - 50px);
                    left: 10%;
                    background: url("/public/img/testBilder/userProfileImage.jpg") no-repeat top;
                    background-size: cover;
                    border-radius: 100%;
                    label{
                        height: 100%;
                        border-radius: 100%;
                    }
                }
            }
            .radioprefix{
                float: none;
            }
            .mainForm{
                label{
                    display: block;
                    margin-bottom: 5px;
                }
                input, select{
                    margin-bottom: 10px;
                }
                select{
                    margin: 5px 0 15px 0;
                }
                input{
                    padding: 5px 0px 5px 10px;
                    @include box-shadow($smoothBoxShadow);
                    border: 0;
                }
                #radio-button{
                    font-family: $flowingText;
                    font-weight: 300;
                    font-size: 0;
                    margin-bottom: 10px;
                    @include box-shadow($smoothBoxShadow);
                    li{
                        display: inline-block;
                        width: 33.3%; height: 23px;
                        position: relative;
                        font-size: 1.2rem;
                        text-align: center;
                        line-height: 23px;
                        div{
                            width: 100%; height: 100%;
                            background: rgba(0,0,0,0.1);
                            @include transitionPrefix(all, 200ms);
                        }
                    }
                    input[type="radio"]{
                        display: block;
                        width: 100%; height: 100%;

                        opacity: 0;

                        position: absolute;
                        top: 0; left: 0;
                        z-index: 3;

                        cursor: pointer;
                        &:checked + div {
                            background: #2196f3;
                            color: white;
                        }
                    }
                }
            }
            input[type="submit"]{
                display: block;
                margin: auto;
            }

        }

    }

}
